.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.25rem 1.75rem;
}

@media (max-width: 1000px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 700px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.75rem 1.25rem;
  }
}
